<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- 
   To use this file:
   1. Fill in the database name where noted
   2. Fill in the username and password for the database where noted
   3. Rename this file by removing the ".example" extension from it.
   
   This is done to ensure credentials don't get checked into github.
   - Karim  
-->

<hibernate-configuration>
   <session-factory>
   
      <!-- Database location and credentials -->
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_name</property>
      <property name="hibernate.connection.username">db_username</property>
      <property name="hibernate.connection.password">db_password</property>
      
      <!-- Use the C3P0 connection pool. -->  
      <property name="c3p0.min_size">5</property>  
      <property name="c3p0.max_size">10</property>  
      <property name="c3p0.timeout">1800</property>  
   
      <!-- Disable second-level cache. -->  
      <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>  
      <property name="cache.use_query_cache">false</property>  
      <property name="cache.use_minimal_puts">false</property>  
      <property name="max_fetch_depth">3</property> 
      
      <!--  SQL Settings -->
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="show_sql">false</property>
      <property name="format_sql">false</property>

      <!-- Debug properties -->      
<!--       <property name="hbm2ddl.auto">create</property> -->
      <property name="hbm2ddl.auto">update</property>

      <!-- Mappings: we include each bean which will be a table. -->
      <mapping class="club.seedymusic.jpa.bean.Account" />
      <mapping class="club.seedymusic.jpa.bean.Cd" />
      <mapping class="club.seedymusic.jpa.bean.Order" />
      <mapping class="club.seedymusic.jpa.bean.OrderItem" />
   </session-factory>
</hibernate-configuration>
